[user]
	email = amit170103004@iitg.ac.in
	name = Amit152116Kumar
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	autocrlf = input
	excludesfile = /home/amit_152116/.dotfiles/.gitignore
[init]
	defaultBranch = master
[http]
	postBuffer = 524288000
