[user]
	email = amit170103004@iitg.ac.in
	name = Amit152116Kumar
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	autocrlf = input
	excludesfile = /home/amit_152116/.dotfiles/.gitignore
[init]
	defaultBranch = master
[http]
	postBuffer = 524288000
[alias]
	st = status
	br = branch
 	scommit = "!f() { git commit -m \"$1\" -m \"Affected Files:\n$(git diff --cached --name-status | sed 's/^/- /')\"; }; f"
	logs = log --oneline --decorate --date=iso
	filelog = log --oneline --follow
  tags = tag -l --sort=-creatordate
	amend = commit --amend --no-edit
	pick = cherry-pick
	unstage = reset HEAD --
	undo = reset --soft HEAD^
	undo2 = reset --soft HEAD~2
	undo3 = reset --soft HEAD~3
	undo4 = reset --soft HEAD~4
	undo5 = reset --soft HEAD~5
	porcelain = status --porcelain	
